FourInARowClient/FourInARowClient/Connected Services/FourInARowReference/item.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/WcfFourInARowService" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/WcfFourInARowService" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:simpleType name="MoveResult">
    <xs:restriction base="xs:string">
      <xs:enumeration value="YouWon" />
      <xs:enumeration value="Draw" />
      <xs:enumeration value="NotYourTurn" />
      <xs:enumeration value="GameOn" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="MoveResult" nillable="true" type="tns:MoveResult" />
  <xs:complexType name="OpponentDisconnectedFault">
    <xs:sequence>
      <xs:element minOccurs="0" name="Details" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="OpponentDisconnectedFault" nillable="true" type="tns:OpponentDisconnectedFault" />
</xs:schema>